.no-agent-avatar > img {
	width: 100px;
	height: 100px;
}

.no-agent-avatar {
	cursor: pointer;
}

.agent-avatar-unselect > img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.agent-avatar-unselect {
	position: relative;
	cursor: pointer;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	flex-shrink: 0;

	background-color: #333534;
	background-color: rgba(51, 53, 52, 1);

	border-color: #000;
	border-color: rgba(0,0,0,1);

	border-style: solid;
	border-width: .15rem;
}