@inherits MainComponent

<RadzenPanelMenuItem Expanded="@(_showBuffs.Count > 0 && _showBuffs.Any(b => b.Available))"
                     Text="@Title">
	<RadzenPanelMenuItem Style="display: none"/>
	<div class="rz-px-2">
		@if (_showBuffs.Count > 0)
		{
			<RadzenStack Orientation="Orientation.Vertical" class="rz-pt-4 rz-pb-2">
				@foreach (var buff in _showBuffs)
				{
					<BuffView Buff="buff"/>
				}
			</RadzenStack>
		}
		else
		{
			<RadzenStack class="rz-pt-8 rz-pb-6">
				<RadzenText TextAlign="TextAlign.Center">
					@Lang["NoBuffsHere"]
				</RadzenText>
			</RadzenStack>
		}
	</div>
</RadzenPanelMenuItem>